/* ONLY ABBY CAN TOUCH RN */


/* do not change---------------------- */

body {
    font-family: "Open Sans", sans-serif;
    color: black;
    background: #FFFFFF;
}

.nav-nopadding {
    padding: 0;
}

.body-par {
    margin: 30px 0;
}

#navbar {
    background-color: #1d2731;
    padding: 1.5rem 3rem;
}

#dropdown-noti {
    max-width: 300px;
}

#main {
    text-align: center;
    color: white;
    height: 70vh;
    min-height: 500px;
    background-image: url("../images/cea/csec_seminar_1.png");
    border-radius: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.logo {
    margin-top: 10%;
}

.card-image {
    padding: 10% 60px;
}

.page-header {
    margin-top: 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.subtitle {
    font-weight: 400;
    margin: 50px 0 30px 0;
}

.thirds-item {
    background: #f0f0f0;
    max-width: 31%;
    padding: 25px;
    border-radius: 5px;
    margin: 1%;
}

.red-bg {
    background: #c0392b;
}

.green-bg {
    background: #27ae60;
}

.indigo-bg {
    background: #2e3192;
}

.dark-card-btn {
    margin-top: 20px;
}

.white-text {
    color: white;
}

.thirds-header {
    margin: 20px 0;
}

#events {
    color: black;
}

#events .carousel-item {
    height: 80vh;
}

#about {
    min-height: 50vh;
}

#divisions {
    min-height: 50vh;
}

#divisions .card {
    color: black;
}

#contact {
    text-align: center;
}

#contact-links {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}

#contact-links a {
    margin: 5px 0;
    padding: 0px 10px 0px 10px;
    display: block;
    color: #454C57;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#contact-links a:hover {
    color: #1d2731;
}

#contact-info {
    float: left;
    list-style-type: none;
}

#location {
    background-color: #1d2731;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 30px 0px;
}

.footer {
    background-color: #1d2731;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 10px 0px 10px 0px;
}

#message-form .container {
    position: relative;
    overflow: hidden;
}

#social a {
    font-size: 50px;
    color: #454C57;
    padding: 20px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#social a:hover {
    color: #1d2731;
}


/* Team Page */

#team {
    padding: 40px 0px;
    background: white;
    color: black;
}

.member {
    background-color: #f0f0f0;
    height: 320px;
    width: 275px;
    border: none;
    padding: 20px;
    color: black;
    margin: auto;
}

.member a {
    color: #454C57;
    margin: 5px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.member a:hover {
    color: #1d2731;
}

.member-img {
    width: 150px;
    height: 150px;
    margin: auto;
}

.card-body {
    text-align: center;
}

.card-title {
    color: #1d2731;
    font-weight: 700;
    margin: 20px 0 15px 0;
}

.card-subtitle {
    font-weight: 400;
    margin-bottom: 20px;
    color: #454C57;
}

#open-positions {
    margin: 60px 0;
    background: #f0f0f0;
    padding: 40px;
    color: black;
    text-align: center
}

input[type=text],
input[type=email] {
    background: #EEE;
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    box-sizing: border-box;
}

input[type=submit] {
    margin-bottom: 30px;
}

textarea {
    background: #EEE;
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#info-box {
    float: left;
}

#msg-box {
    float: right;
}

/* News */

#dropdown-noti h2{
    text-align:center;
}

#dropdown-noti iframe{
    border:none;
}

#arch-title {
    color: white;
    height: 70vh;
    min-height: 500px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    background-image: url("../images/cea/csec_seminar_1.png");
    border-radius: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

#arch-title .page-header{
    text-align: center;
}

/*----- Responsive -----*/


/*Large Devices*/

@media screen and (min-width: 1150px) {
    .member {
        margin-bottom: 0px;
    }
}


/*Medium sized devices*/

@media screen and (min-width:765px) {
    .member {
        margin-bottom: 10px;
    }
}

@media (max-width:992px) and (min-width:768px) {
    .member-img {
        width: 100px;
        height: 100px;
    }
}


/*Phones*/

@media (max-width: 765px) {
    .thirds-item {
        max-width: 100%;
        margin: 3% 5%;
    }
    .member {
        margin-bottom: 10px;
    }
}