body {
  font-family: "Open Sans";
  color: white;
}
#navbar{
    background-color: transparent;
}
.nav-item{
    text-align: right;
}
.fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
#main {
    text-align: center;
    color: white;
    height: 70vh;
    background-image: url("images/cea/csec_seminar_1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#title{
    padding-right: 5px;
    font-size: 3.0vw;
    display: none;
}

#events .carousel-item{
    height:80vh;
}
#about {
    padding: 37px 65px 65px 65px;
    background: #000000;
    color: white;
    min-height:50vh;
}
#divisions {
    padding: 37px 65px 65px 65px;
    background: #000000;
    color: white;
    min-height:50vh;
}
#divisions .card{
    color:black;
}
#resources {
    padding: 37px 65px 65px 65px;
    background: #ffffff;
    color: black;
}
#resources-page {
    background: #22264b;
    color: black;
}

#location {
    background-color: #1d2731;
    color: white;
    font-size: 12px;
    padding: 10px 0px 10px 0px;
}

#contact{
    text-align:center;
    background-color:black;
}

#contact-info{
    float:left;
    list-style-type: none;
}

.footer{
    background-color: #1d2731;
    color:white;
    text-align: center;
    font-size: 12px;
    padding: 10px 0px 10px 0px;
}
#message-form .container{
    position: relative;
    overflow: hidden;
}

#social a{
    font-size:50px;
    color: inherit;
    padding: 20px;
}
#social a:hover{
    color: green;
}


/* Team Page */
#team {
    padding: 37px 65px 37px 65px;
    background: white;
    color: black;
}
.member{
    height: 320px;
    width: 275px;
    padding: 20px;
    color:black;
    margin: auto;
}
.member-img{
    width: 150px;
    height: 150px;
    margin: auto;
}

.card-body{
    text-align: center;
}

#open-positions {
    background: white;
    color: black;
    text-align: center
}

#info-box{
    float:left;
}
#msg-box{
    float:right;
}

/*----- Responsive -----*/
/*Large Devices*/
@media screen and (min-width: 1150px) {
    .member{
        margin-bottom: 0px;
    }
}
/*Medium sized devices*/
@media screen and (min-width:765px) {
    .member{
        margin-bottom: 10px;
    }
}
/*Phones*/
@media (max-width: 765px) {
    .member{
        margin-bottom: 10px;
    }
}
