#algo-title {
    color: white;
    height: 70vh;
    background-image: url("../../images/cea/icpc_promo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

#algo-title .page-header{
    text-align: center;
}

#resources h3{
    text-align: center;
}

#resources ul{
    list-style: none;
    padding: 0;
}

/*----- Responsive -----*/
/*Large Devices*/
@media screen and (min-width: 1150px) {
    #algo-title .page-header{
        font-size: 120px;
    }
}
/*Medium sized devices*/
@media screen and (min-width:765px) {
    #algo-title .page-header{
        font-size: 80px;
    }
}
/*Phones*/
@media (max-width: 765px) {
    #algo-title {
        height:50vh;
    }
    #algo-title .page-header{
        font-size:50px;
    }
}
